---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

$serif-font-family: "Do Hyeon", serif;
$plain-font-family: "Nanum Gothic", serif;
$monospace-font-family: Consolas, Menlo, Monaco, "Courier New", Courier, monospace;

$base-font-family: $plain-font-family;
$headline-font-family: $plain-font-family;
$title-font-family: $serif-font-family;
$description-font-family: $plain-font-family;
$meta-font-family: $plain-font-family;

@import "so-simple";
